/* =================================
            --- /HOME ---
================================= */


.busquedaContainer{
    background-color: #dddbd1;
    border: 2px solid  #dddbd1;
}

.logoContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
}
.logoContainer h1{
    display: none;
    align-items: center;
    justify-content: center;
}

.logoContainer a {
    margin: 0;
}

/*========BANNER==========*/

#carouselIndicators {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

#carouselIndicators div.carousel-item img {
    width: 100%;
    max-height: 300px;
}


/*========Section ProductsList (HOME)==========*/

#section-home-products {
    background-color: #dddbd1;
    height: calc(100vh - 344,5px);
}

.productsList article a {
    text-decoration: none;
}

.productsList article a:hover {
    color: rgba(0, 0, 0, 0.596);
}

.productsList article a img {
    transition: all 1s ease; 
}

.productsList article a img:hover {
    transform: scale(1.02);
    transition: all 1s ease; 
}

section h2 {
    padding: 10px 0;
}

h5.product-price:before {
    content: "$ ";
}

section div.productsList article a {
    text-decoration: none;
    color: black;
}

h6.product-discount {
    color:#39b54a
}

section div.productsList article a div h6.product-discount:hover {
    color:black;
    font-size: large;
}

h6.product-discount:after {
    content: "% OFF";
}