<footer class="container-fluid">
        <div class="footer-container row d-flex justify-content-between">
                <div class="col-12 col-sm-4 nosotros-container">
                        <h4><b>Nosotros</b></h4>
                        <p>Somos una empresa comprometida con el medio ambiente y la economía circular.</p>
                        <p>Hacemos que tu estilo de vida sustentable sea más fácil de alcanzar.</p>
                </div>
                <div class="col-12 col-sm-4 redes-container">
                        <h4><b>Seguinos en nuestras redes</b></h4>
                        <div class="wrappericon-redes">
                                <a href="www.instagram.com/SustentAR"><i class="fab fa-instagram fa-2x"></i></a>
                                <a href="www.facebook.com/SustentAR"><i class="fab fa-facebook-square fa-2x"></i></a>
                                <a href="www.twitter.com/SustentAR"><i class="fab fa-twitter fa-2x"></i></a>
                        </div>
                </div>
                <div class="col-12 col-sm-4 contacto-container">
                        <h4><b>Contactanos</b></h4>
                        <div>
                                <p>contacto@sustentar.com.ar</p>
                                <a id="#wrapperWhatsapp" href="wha.me/11sustentAR"><i id="whatsappIcon" class=" fab fa-whatsapp-square fa-2x">+54-11-5256-7455</i></a>
                        </div>
                </div>
        </div>
</footer>