<header class="main-header">
    
    <div class="logo row">

        <div class="logoContainer col-12"> 
            <a href="/">
                <img src="../images/Logo_de_PaginaWeb.png" alt="Logo sustentAR">
            </a>
        </div>

        <h1 class="col-12">sustentAR</h1>
        
    </div>
    

    <nav>

        <button class="btn-toggle-navbar"><i class="fas fa-bars"></i></button>

        <ul class="nav-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Comprar</a></li>
        </ul>

        <ul class="nav-right">
            <li><a href="#">Carrito</a></li>
            <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
        </ul>

    </nav>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Comprar</a></li>
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Cuenta</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>