<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <div class="container admin">
            <div class="adminHome">
                <a href="/admin/addVideo"><button class="home"><h5>Agregar video de youtube</h5></button></a>
                <a href="/admin/videos"><button class="home"><h5>Eliminar video de youtube</h5></button></a>
                <a href="/admin/addAdmin"><button class="home"><h5>Agregar administrador</h5></button></a>
                <a href="/admin/users"><button class="home"><h5>Ver usuarios</h5></button></a>
            </div>
            
        </div>
        <%- include('./partials/footer') %> 
        <%- include('./partials/scripts') %>
    </body>
    

</html>