<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Head') %> 
<body>
    <%- include('./partials/Header') %> 
    <div class="container-fluid">
        <div class="d-flex justify-content-center row">
            <div class="col-12 errImgDiv">
                <img src="/images/error.jpg" alt="error">
            </div>
            <div class="row errTexto">
                <h2 class="col-12">Error 404</h2>
                <h3 class="">Hace click <a href="/">acá</a> para volver al inicio :)</h3>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
</body>
</html>