<footer>
    <ul>
        <li> <a href="https://www.facebook.com/randomedios1"> <i class="fab fa-facebook-f fa-2x"></i> </a></li>
        <li> <a href="https://radio.usal.es/programa/random/"> <i class="fas fa-microphone fa-2x"></i> </a> </li>
        <li> <a href="/contact"><h4 class="p-2">Contáctanos</h4></a> </li>
        <li> <a href="https://www.youtube.com/channel/UCMzcUdEcXR20kWJo9aMl9LQ"> <i class="fab fa-youtube fa-2x"></i> </a> </li>
        <li> <a href="https://www.instagram.com/random_medios/"> <i class="fab fa-instagram fa-2x"></i> </a> </li>
    </ul>
    
    <p>© 2020 Random Medios</p>
</footer>