<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RandomMEDIOS</title> <!-- Aca se debe imprimir el titulo correspondiente a cada seccion | HOME - | productos - | register -->
	<!-- Font Awesome Stylesheet -->
	<link rel="shortcut icon" href="/images/general/Rtab.png" />
	<script src="https://kit.fontawesome.com/05c282ad9f.js" crossorigin="anonymous"></script>
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- RandomNEWS Tittle Icon -->
	
	<!-- RandomNEWS Stylesheet -->
	<link rel="stylesheet" href="/css/style.css">

	<script src="//cdn.ckeditor.com/4.15.0/full/ckeditor.js"></script>
</head>